<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Usar la camara</string>
	<key>NSCameraUsageDescription</key>
	<string>Usar la librería</string>
	<key>CLIENT_ID</key>
	<string>587158280300-kdopef3csu1ojjf4fu90n5uvb1eduva6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587158280300-kdopef3csu1ojjf4fu90n5uvb1eduva6</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_6dF9lH6H9QGM-jjx_4yB1ArMXNfgCU</string>
	<key>GCM_SENDER_ID</key>
	<string>587158280300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donaldo.GamesApp</string>
	<key>PROJECT_ID</key>
	<string>gamescrud</string>
	<key>STORAGE_BUCKET</key>
	<string>gamescrud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587158280300:ios:e856c0223595cf75df2049</string>
</dict>
</plist>
